body {
    background-color:aquamarine;
}
h1 {
    background-color: blanchedalmond;
    color:red;
}
.basic {
    color:palevioletred;
}
#time {
    color:blue;
}
#free {
       background-color:antiquewhite;
}
div.header {
    color:red;
    font-family:Fantasy;
    font-size:40px;
    text-align:center 
}
div.header:hover {
    color:skyblue
}
